@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  height: 550px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Chilanka';
  src: url('../../assets/fonts/Chilanka/Chilanka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Chilanka', cursive;
}